<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
<<<<<<< HEAD
            <p>Copyright &copy; Your Website 2016</p>
=======
            <p>Copyright &copy; FaceSquared 2018</p>
>>>>>>> 1da26609d4ab7134521c852cfd687920e2f301b8
        </div>
    </div>
</footer>   